.catalog {
  border: 1px solid pink;
  margin-bottom: 200px;
  &__slider {
    border: 1px solid black;
    position: relative;
  }

  &__swiper-wrapper {
    border: 1px solid navajowhite;
  }

  &__slide {
    max-width: 135px;
    height: 128px;

    &-link {
      display: block;
    }
  }
  .catalog__slide-img {
    width: 100%;
    height: 90px;
  }

  &__button {
    &-prev,
    &-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 1px solid red;
      z-index: 100;
      background-color: red;
    }

    &-prev {
      left: -15px;
    }

    &-next {
      right: -40px;
    }
  }
}
