.swiper {
  position: relative;
  &-slide {
    img {
      width: 100%;
      height: calc(100vh - 120px);
      object-fit: cover;
    }
  }
  &-promo {
    &-prev {
      left: 50px;
    }
    &-next {
      right: 50px;
    }
  }
}

.swiper-promo-prev {
  // position: absolute;
  // top: 50%;
  // transform: translateY(-50%);
  // left: 52px;
  // width: 100px;
  // height: 100px;
  border: 1px solid red;
  // z-index: 10;
}
.swiper-promo-next {
  // width: 100px;
  // height: 100px;
  border: 1px solid red;
}

.swiper-promo-prev::after,
.swiper-promo-next::after {
  content: "";

  // background-size: contain;
  // width: 20px;
  // height: 20px;
}

.swiper-promo-prev::after {
  background-image: url("../icons/promo_arrows/promo-arrow-prev.svg");
}
