:root {
  --font-main: "Nunito Sans", sans-serif;
  --font-second: "Roboto", sans-serif;

  --main-color: #f6cac1;
  --main-color-lite: #fff8f6;

  --swiper-bulet-color: #fff3f0;
  --swiper-bulet-active: #f6cac1;
  --swiper-bulet-hover: #ffe3dd;

  --social-border-color: #ffded8;

  --white-color: #ffffff;
  --black-color: #212121;
  --red-color: #e53935;
  --gray-color: #9e9e9e;

  --menu-color: #864436;
  --menu-color-hover: #af7063;

  --dropdown-background-color: #fbfbfb;
}
