.btn {
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--white-color);
  &__promo {
    margin-top: 30px;
    width: 298.62px;
    height: 40px;
  }

  &__product-card {
    height: 32px;
    padding: 6px 30px;
  }
}
