.product-card {
  &__wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto(262px);
    grid-template-columns: 262px 262px 262px 262px;
    gap: 32px;
  }

  &__item {
    z-index: 10;
    background-color: var(--white-color);
    width: 262px;
    height: 376px;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 0px rgba(203, 203, 203, 0.25);

    &:hover {
      z-index: 100;
      .product-card__additional {
        visibility: visible;
        opacity: 1;
        z-index: 100;
      }

      .product-card__footer {
        padding: 8px 16px 24px 16px;
      }
    }
  }

  &__slider-wrapper {
    height: 208px;
    position: relative;
  }

  &__img {
    border-radius: 8px 8px 0 0;
  }

  &__dots {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
    z-index: 10;

    &_dot {
      transition: all 0.3s ease-in-out;
      min-width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--swiper-bulet-color);

      &-active {
        background-color: var(--swiper-bulet-active);
      }

      &:hover {
        background-color: var(--swiper-bulet-hover);
      }
    }
  }

  &__options {
    top: 10px;
    z-index: 10;
    width: 100%;
    position: absolute;
    padding: 0 12px 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sale {
    padding: 4px 6px 4px 6px;
    background-color: var(--sales-btn-color);
    border-radius: 4px;
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  &__favorite {
    width: 32px;
    height: 32px;
    background-color: var(--white-color);
    border-radius: 50px;
    background-image: url("../icons/favorite/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__footer {
    padding: 8px 16px 30px 16px;
    width: 100%;
    height: 168px;
    display: flex;
    flex-direction: column;
  }

  &__code {
    color: var(--gray-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    height: 72px;
    overflow: hidden;
  }

  &__price-buy-wrapper {
    width: 100%;
    height: 32px;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;

    &_old {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: var(--gray-color);
      text-align: left;
      text-decoration: line-through;
    }
  }

  &__additional {
    padding: 0px 16px 32px 16px;
    visibility: hidden;
    opacity: 0;
    // border: $border;
    border-radius: 0 0 8px 8px;

    box-shadow: 0px 4px 4px -2px rgba(203, 203, 203, 0.25);
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    // visibility: visible;

    // opacity: 1;
  }

  &__additional-title {
    margin-top: 16px;
    color: var(--gray-color);
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  &__additional-wrapper {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    &_color {
      :nth-child(1) {
        border-color: rgb(240, 240, 240);
        background-color: #d9dfea;
      }
      :nth-child(2) {
        border-color: rgb(246, 202, 193);

        background-color: #ffe7eb;
      }
      :nth-child(3) {
        border-color: rgb(228, 228, 228);

        background-color: #bfd3de;
      }
      :nth-child(4) {
        border-color: rgb(240, 240, 240);

        background-color: #292c39;
      }
    }
  }

  &__size-btn {
    padding: 8px 4px;
    border: 1px solid var(--gray-color);
    color: var(--gray-color);
    max-height: 32px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: inline-flex;

    &:hover {
      border-color: var(--main-color);
      color: var(--main-color);
    }
  }

  &__color-btn {
    border: 2px solid var(--product-color-border);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--product-color-bg);
  }

  &__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
}
